%h1 Sent Bulk Message
.well
  %table.table.table-bordered.table-stripped.table-condensed
    %tr
      %td
        %b Sent to Group
      %td=@send_bulk_message.group.name rescue nil
    %tr
      %td
        %b Message
      %td=@send_bulk_message.message
    %tr
      %td
        %b Status
      %td=@send_bulk_message.status
    %tr
      %td
        %b Sent By
      %td="#{@send_bulk_message.user.first_name rescue nil} #{@send_bulk_message.user.last_name rescue nil}"
    %tr
      %td
        %b Date/Time Sent
      %td="#{@send_bulk_message.created_at.strftime("%d-%m-%Y %H:%M")}"

.form-actions
  = link_to 'Back', send_bulk_messages_path, :class => 'btn'
