/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require jquery.ui.datepicker
 *= require_tree .
 */

.customArea {

    background-color: #f1f1f1;
    border: 1px solid grey;
    padding: 5px;

}

.noStyle tbody {

    background-color: transparent !important;
    vertical-align: middle;

}

textarea {
    resize: none;
}

textarea#styled {
    width: 500px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-image: url(bg.gif);
    background-position: bottom right;
    background-repeat: no-repeat;
}

